{% extends 'base.html.twig' %}

{% block title %}Show licenseplate{% endblock %}

{% block body %}
    <h1>Show licenseplate</h1>
    <div class="container w-75">
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ license_plate.id }}</td>
            </tr>
            <tr>
                <th>License_plate</th>
                <td>{{ license_plate.licensePlate }}</td>
            </tr>
            </tbody>
        </table>
        <div class="container w-50">
            <div class="row ">
                <a class="btn btn-primary btn-lg mt-3" href="{{ path('license_plate_index') }}">Back to my cars</a>
            </div>
        </div>
    </div>
{% endblock %}
