{% extends 'base.html.twig' %}

{% block title %}Change password{% endblock %}

{% block body %}
    <h1>Change password</h1>

    {{ include('resetPassword/_form.html.twig') }}

    <a href="{{ path('homepage') }}">back to homepage</a>
{% endblock %}
