{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}


        <h1>Homepage</h1>
        <div class="container">
            <div class="row mx-5">
                <a class="btn btn-primary btn-lg mt-3" href="{{ path('app_login') }}">Login</a>
            </div>
            <div class="row mx-5">
                <a class="btn btn-primary btn-lg mt-3" href="{{ path('app_register') }}">Register</a>
            </div>
            <div class="row mx-5">
                <a class="btn btn-primary btn-lg mt-3" href="{{ path('app_forgot_password_request') }}">Forget
                    password</a>
            </div>
        </div>

{% endblock %}
