{% extends 'base.html.twig' %}

{% block title %}I am blocker{% endblock %}

{% block body %}
    <h1>Create activity</h1>
    <div class="container">
    {{ include('activity/_form.html.twig') }}

    <a class="btn btn-primary btn-lg mt-3" href="{{ path('my_account') }}">Back to my account</a>
    </div>
{% endblock %}
